<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775639066508-11tgmfshuv9g33bhmhchb3a060bebk3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775639066508-11tgmfshuv9g33bhmhchb3a060bebk3m</string>
	<key>API_KEY</key>
	<string>AIzaSyAputT1JNC7jA_sVvc0p-yxVUrqN-_VzWk</string>
	<key>GCM_SENDER_ID</key>
	<string>775639066508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Andrii-Pohodin.Checklist</string>
	<key>PROJECT_ID</key>
	<string>xag-manual</string>
	<key>STORAGE_BUCKET</key>
	<string>xag-manual.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775639066508:ios:cd22256e781c49472818a9</string>
</dict>
</plist>